

.main-Div{
    display: grid;
    grid-template-rows: 65% 35%;
    height: 100vh;
    /* position: relative; */
    box-sizing: border-box;
    overflow: hidden;
}

.bgDay{
    background-image: url("/assets/mobile/bg-image-daytime.jpg");
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
    
}
.bgNight{
    background-image: url('/assets/mobile/bg-image-nighttime.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    
}

.TopQuote{
    text-align: left;
    font-size: 20px;
    padding: 5%;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    grid-row: 1/2 ;
    grid-column: 1/2;
}
/* more less styles */
.main-TopLess{
    /* grid-row: 1/2; */
    display: grid;
    grid-template-rows: 20% 10% 40% 10% 20%;
    grid-template-columns: 100%;
    height:100vh;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    /* position: absolute; */

}

.main-TopMore{
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20% ;
    height: 60vh;
    margin-left: 10%;
    display: none;
}

.TopTime{
    /* margin-top: 20%;  */
    height: 100%;
    padding: 10%;
    height: min-content;
    width: 90%;
    margin: auto;
    grid-row: 3/4;

    grid-column: 1/2; 
} 

.TopTimeMore{
    display: block;
    grid-row: 1/2;
    grid-column: 1/2;
    /* padding-left: 8%; */
    margin-top: 15%;
    height: 40%;
    /* margin-left: 10%; */


}
.topTimeH1{
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: -5%;
    /* margin-left: 25%; */
    /* margin-right: auto; */
}
.topTimeGreeting{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: -20%; 
    margin-top: 30%; 
    /* margin-left: 10%; */
    text-align: center;
}
.topTimeGreetingMore{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20%;
    margin-bottom: -20%;
    grid-row: 1/2;
    /* padding-left: 10%; */
}

.times{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}
.timesMore{
    display: inline-block;
    flex-direction: column;
    /* margin-left: 10%; */

}
.topTimeH1More{
    font-size: 10rem;
    margin-bottom: -10%;
    /* margin-left: 10%; */
}




#more-less{
    /* margin-top: 40%; */
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: -50%;
    margin-top: 10%;
    grid-row: 5/6; 
    grid-column: 1/2;
    margin-left: 10%;
}

#more-lessMore{
    /* margin-top: -90%; */
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    padding-left: 20px;
    /* margin-bottom: 30%; */
    /* grid-row: 1/2; */
    /* margin-left: 7%; */
}

.main-Bottom{
    opacity:0.85;
    background-color: black;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 100%;
    /* margin-left: -10px; */
    margin-right: 0px;
    grid-row: 2/3;
    /* margin: auto; */
    /* margin-top: -25%; */
    /* margin-bottom: -15%; */
    box-sizing: border-box;
    display: none;
    /* position: absolute; */
    bottom: 0;
}


.bottom-1{
    height: 100%;
    display: grid;
    padding: 10% 10%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 50% 50%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    opacity: 1;
    margin-top: -10%;
    width: 75%;
    
    
}

.bottomP1{
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.bottomP2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.bottomP3{
    grid-column: 1/2;
    grid-row: 3/4;
}
.bottomP4{
    grid-column: 1/2;
    grid-row: 4/5;
}
.bottomA1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    font-weight: 800;
}
.bottomA2{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    font-weight: 800;
}
.bottomA3{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: right;
    font-weight: 800;
}
.bottomA4{
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: right;
    font-weight: 800;
}



.locationDiv{
    display: inline-block;
}

.location,
.locationMore{
    font-size: 30px;
    font-weight: 800;
}

/* ====================================================
====================================================
=========Tablet==============================
====================================*/

@media (min-width: 575px){
    .bgDay{
        background-image: url("/assets/tablet/bg-image-daytime.jpg");
        background-size: 100% 100%;
        color: white;
        background-repeat: no-repeat;
        
    }
    .bgNight{
        background-image: url('/assets/tablet/bg-image-nighttime.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: white;
        
    }

    .main-Div{
        display: grid;
        grid-template-rows: 65% 35%;
        height: 100vh;
        width: 95%;
        position: relative;
        box-sizing: border-box;
    }

    #main-TopLess{
        grid-row: 1/3;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 20% 10% 30% 20% 20%;
        height: 100%;
        /* margin-right: 20%;
        margin-left: -50%; */
        margin: auto;
        width: 80%;
    }
    .TopQuote{
        grid-row: 1/2;
    }
    .TopTime{
        grid-row: 3/4;
        margin-top: 0%;
        margin-right: 50%;
    }
    #more-less{
        grid-row: 4/5;
    }
    .topTimeGreeting{
        margin-top: 0%;
        margin-bottom: -20%;
        /* margin-left: auto; */
        margin-right: 40%;
        width:80%;
        align-self:inherit;
        text-align: left;
    }

    .times{
        margin: auto;
    }

    .main-TopMore{
        grid-row: 1/2;
        height: 55vh;
        
    }

    .topTimeGreetingMore{
        margin-top: -5%;
        margin-bottom: -5%;
    }

    .topTimeH1More{
        /* margin-top: 5%; */
        font-size: 10rem;
    }

    .topTimeH1{
        font-size: 11rem
    }
    .topTimeH1More{
        margin-bottom: -2%;
    }

    .topTimeH4{
        font-size: 1.5rem;
    }


    .main-Bottom{
        position: absolute;
        bottom: 0;
        height: 45vh;
    }
    .bottom-1{
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 35% 15% 35%;
        float: bottom;
    }

    .bottomP1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bottomP2{
        grid-column: 1/2;
        grid-row: 3/4;
    }    
    .bottomP3{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .bottomP4{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .bottomA1{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
    }
    .bottomA2{
        grid-column: 1/2;
        grid-row: 4/5;
        text-align: left;
    }    
    .bottomA3{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
    }
    .bottomA4{
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: left;
    }
    #more-lessMore{
        margin-top: 5%;
    }

}

/* --------------------------------------------------
--------------------------------------------------
Desktop small--------------------------------------------------
--------------------------------------------------*/




@media (min-width: 1000px) {
    .bgDay{
        background-image: url("/assets/desktop/bg-image-daytime.jpg");
        background-size: 100% 100%;
        color: white;
        background-repeat: no-repeat;
        
    }
    .bgNight{
        background-image: url('/assets/desktop/bg-image-nighttime.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: white;
        
    }
    .main-TopLess{
        display: grid ;
        grid-template-columns: 65% 35%;
        grid-template-rows: 20% 40% 40%;
        width: 90%;
    }

    .TopQuote{
        grid-column: 1/3;
        font-size: 25px;
    }
    .TopTime{
        grid-column: 1/2;
        align-self: flex-end;
        margin-bottom: 10%;
    }
    #more-less{
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: flex-end;
        margin-bottom: 40%;
    }
    .topTimeH1,
    .topTimeH1More{
        font-size: 15rem;
    }
    .main-TopMore{
        display: none ;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100%;
        height: 60vh;
        margin-top: 15%;
    }
    .timesMore{
        margin-top:-10%;
    }
    .topTimeGreetingMore{
        margin-bottom: -5%;
    }

    .TopTimeMore{
        grid-column: 1/2;
        align-self: flex-end;
        margin-bottom: 55%;
    }
    #more-lessMore{
        grid-column: 2/3;
        align-self: flex-end;
        margin-bottom: 100%;
    }

    .main-Bottom{
        height: 40vh;
    }

}

/* 
desktop SM/Md
*/
@media(min-width:1200px){
    .TopTimeMore{
        height: 73vh;
        align-self: flex-end;
        margin-bottom: 0%;
    }

    .main-TopLess{
        width: 90%;
        grid-template-columns: 60% 20% 20%;
    }

    #more-less{
        margin-right: 10%;
        grid-column: 2/3;
    }

}

/* ----------------------------------------------
Destop Mid----------------------------------------------
----------------------------------------------*/
@media (min-width:1400px){
    .main-TopMore{
        color: red;
        margin-bottom: 20%;
        height: 40vh;
    } 

    .main-TopLess{
        width: 90%;
        grid-template-columns: 80% 20%;
    }
    .TopTimeMore{
        align-self: center;
        /* margin-bottom: 10%; */
    }

    #more-less{
        /* margin-top: 25%; */
        margin-bottom: 50%;
    }

    #more-lessMore{
        margin-top: 20%;
        margin-bottom: 20%;
    }

}

/* ----------------------------------------------
Destop LArge----------------------------------------------
----------------------------------------------*/

@media (min-width:1700px){
    .main-TopLess{
        color: Blue;
        height: 100vh;
        
        /* margin-bottom: -5%; */
    } 

    .TopTimeMore{
        align-self: center;
        padding-top: 15%;
        color: Blue;
        height: 60vh;

    }

    .topTimeGreetingMore{
        padding-bottom: 50px;
        padding-top: -50px;
    }
    .TopTime{
        margin-bottom: 0%;
        margin-top: 5%;
        /* align-self:auto; */
    }

    #more-less,
    #more-lessMore{
        margin-bottom: 10%;
    }

    .main-TopMore{
        /* margin-bottom: 20%; */
        margin-top: -5%;
        padding-bottom: 20%;
        height: 60vh;
    }
    /* .timeTimeMore{
        margin-bottom: 20%;
        margin-top: -20%;
    } */


}

/* ----------------------------------------------
Destop XL----------------------------------------------
----------------------------------------------*/

@media (min-width:1800px){
    .main-TopMore{
        color: purple;
        height: max-content;
        /* margin-bottom: -5%; */
    } 
    .main-TopLess{
        color: purple;
        height: 100vh;
        margin-top: 5%;
    } 

    #more-less{
        margin-bottom: 30%;
    }

    .topTimeGreeting{
        margin-bottom: -17%;
    }
    .TopTime{
        margin-top: 0%;
    }

    .main-TopMore{
        /* margin-bottom: 20%; */
        margin-top: 2%;
        padding-bottom: 10%;
        height: 55vh;
    }
    #more-lessMore{
        /* margin-bottom: -5%; */
    }
}

/* ----------------------------------------------
Destop XXL----------------------------------------------
----------------------------------------------*/

@media  (min-width:2000px){
    .main-TopMore{
        color: green;
        height: 70vh
    } 
    .main-TopLess{
        height:100vh;
        color: green;
        
    }

    #more-less{
        margin-bottom: 20%;
    }

    .topTimeGreeting{
        padding-bottom: 5%;
    }
    .TopTime{
        padding-bottom: 5%;
    }
    .main-TopMore{
        /* margin-bottom: 20%; */
        /* margin-top: -5%; */
        padding-bottom: 20%;
        height: 50vh;
    }
    .topTimeGreetingMore{
        /* padding-bottom: 10%; */
    }
    
}